.header {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 3rem;
    font-weight: bold;

    padding: 1rem;
    margin-left: 2rem;

}

.header__logo a {
    color: red;
    text-decoration: none;
}

.header nav {
    padding: 1rem;
    margin-right: 2rem;
}
.header__nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}


.header__nav a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: bold;

    display: inline-block;
    padding: 0.5rem;

}