.cuerpo_main {
    width: 90%;
    flex: 1;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.parrafo_home {
    font-size: 2rem;
    text-align: left;
    margin-bottom: 2rem;
    width: 80%;
}
.resenas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 10px;
}
.titulo_home{
    font-size: 4rem;
    margin: 2rem 0;
    text-align: center;
}
.cuerpo_main h2 {
    font-size: 3rem;
    margin: 2rem 0;
    text-align: center;
}
